@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    background-image: url(../media/image/background.jpg);
}
::selection {
    background: #ffcc002b;
}

/* Header Section */

.page-top {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.145);
    position: fixed;
    z-index: 2;
}
h4 {
    color: #ffffffb8;
    font-size: 28px;
    font-family: "Cause", cursive;
    position: relative;
    left: 110px;
}
.order-now {
    background-color: #ffcc00;
    color: #000;
    font-size: 20px;
    border-radius: 35px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.655);
    cursor: pointer;
    opacity: 0.6;
    position: relative;
    right: 50px;
}
.order-now a {
    text-decoration: none;
    color: black;
}
.order-now:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s linear;
}
.basic {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic img {
    height: 80px;
    opacity: 0.6;
}
.items {
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}
.items i {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.349);
    padding: 3px 20px;
    transition: all 0.5s ease;
}
.items i:hover {
    color: #ffcc00;
    transform: scale(1.1);
}
.language {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    position: relative;
    left: 40px;
}
.language:hover {
    color: #ffcc00;
}
.language option {
    background: none;
    color: black;
}

/* Promo Video Section */

.loging img{
    position: absolute;
    left: 39%;
    top: 30%;
    width: 320px;
    height: auto;
    z-index: 1;
}
.promo video{
    width: 100%;
    height: auto;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.733);
}

/* Shopping Cart Section */

.shopping {
    display: none;
}
.counter {
    position: fixed;
    top: 76%;
    left: 14%;
    font-size: 15px;
    color: #000;
    background: #ffcc00;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 50%;
    padding: 1px 6px;
    z-index: 2;
    opacity: 0.6;
}
.ri-shopping-cart-line {
    position: fixed;
    top: 75%;
    left: 10%;
    font-size: 36px;
    color: white;
    cursor: pointer;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.21);
    color: #000;
    padding: 20px;
    font-size: 4em;
    opacity: 0.6;
}
.ri-shopping-cart-line:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.counter:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* design list */
.lists {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 740px;
    background: #ffcc00;
    z-index: 8;
    transition: all ease-in-out 0.3s;
}
.hide {
    opacity: 0;
    visibility: hidden;
}
.links {
    display: grid;
    text-align: center;
}
.links a {
    text-decoration: none;
    font-size: 47px;
    padding: 40px;
    color: #333333c0;
    position: relative;
    top: 70px;
    opacity: 0.9;
}
.links a:hover {
    opacity: 1;
    color: #333;
}

/*dialog section */
.userLogin {
    background-color: rgba(255, 255, 255, 0.775);
    border: transparent;
    border-radius: 35px;
    padding: 60px 40px;
    position: fixed;
    left: 590px;
    top: 200px;
}
.ri-close-large-line {
    font-size: 25px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
    opacity: 0.5;
}
.ri-close-large-line:hover {
    opacity: 1;
}
.userName, .password, .checkBox, .submit, h2 {
    display:flex; 
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.submit button{
    padding: 5px 20px;
    font-size: 20px;
    background-color: rgb(9, 9, 49);
    border: transparent;
    border-radius: 35px;
    color: white;
}
.submit button:hover {
    background-color: rgb(16, 16, 93);
    cursor: pointer;
}
.checkBox input, .Remember, u {
    font-size: 20px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}
.userName input , .password input{
    padding: 6px 20px;
}
.userName i , .password i{
    font-size: 21px;
    position: relative;
    left: 25px;
    opacity: 0.4;
}

/* body section */

.Menus {
    margin-top: 50px;
    color: white;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
}
.Menus h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}
.Menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
}
.Menu-item{
    border: 1px solid rgba(255, 255, 255, 0.237);
    padding: 25px 20px 30px 20px;
    text-align: center;
    background-color: rgba(85, 84, 84, 0.54);
}
.Menu-item span {
    display: block;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.Menu-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.adding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.adding button:hover {
    opacity: 1;
}
.adding button {
    padding: 8px 40px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    background-color: #ffcc00;
    color: #000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.655);
    transition: all 0.3s ease;
    opacity: 0.6;
}
.adding select {
    background: none;
    color: white;
    position: relative;
    left: 20px;
    padding: 5px;
    font-size: 15px;
    opacity: 0.6;
}
.adding option {
    background: none;
    color: black;
}
.adding select:hover {
    opacity: 1;
    cursor: pointer;
}

/* Review Section */

.comments {
    margin-top: 100px;
    color: white;
} 
.comments h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 100px;
}
.comment-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
.comment-item {
    border: 1px solid rgba(255, 255, 255, 0.237);
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: rgba(85, 84, 84, 0.54);
    width: 250px;
}
.comment-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.comment-item p {
    position: relative;
    bottom: 70px;
}
.comment-item span {
    font-weight: bold;
    position: relative;
    bottom: 140px;
    left: 48px;
}
.photo {
    position: relative;
    bottom: 70px;
}
.rating {
    position: relative;
    right: 38px;
    bottom: 30px;
}

/* Footer Section */

.footer-content {
    background-color: #111111b6;
    color: white;
    text-align: center;
    padding: 20px 0 80px 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 7px rgba(255, 255, 255, 0.733);
}  
.footer-content img {
    width: 220px;
    height: auto;
    opacity: 1;
    position: relative;
    right: 6%;
    top: 15px;
}
.footer-content a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0px 100px;
}
.footer-content a:hover i {
    color: #ffcc00;
    transform: scale(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
}
.footer-content a:hover {
    color: #ffcc00;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.social-media a{
    margin: 20px 10px;
    position: relative;
    top: 30px;
}
.social-media i{
    background-color: rgba(255, 255, 255, 0.256);
    color: black;
    padding: 5px;
    border-radius: 10px;
}
.contact-me {
    font-size: 18px;
    margin-top: 30px;
    position: relative;
    top: 25px;
}
.copyright {
    color: rgba(255, 255, 255, 0.395);
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 90px;
}

/* Responsive Design */

@media (max-width: 1388px) and (min-width: 200px) {
    .language {
        left: 20px;
        margin-right: 40px;
    }
    .page-top {
        flex-wrap: wrap;
    }
}
@media (max-width: 1026px) and (min-width: 200px) {
    .order-now {
        left: 10px;
        margin-right: 50px;
        padding: 8px;
    }
}
@media (min-width: 420px) and (max-width: 1094px) {
    .loging img {
        width: 180px;
        height: auto;
        position: absolute;
        left: 40%;
        top: 11%;
    }
    .comment-list {
        gap: 70px;

    }
    .comment-item {
        width: 200px;
    }
    .footer-content img {
        width: 150px;
        height: auto;
        position: relative;
        top: 15px;
    }
    .footer-content a {
        font-size: 20px;
        margin: 15px 50px;
        position: relative;
        top: 10px;
    }
    .social-media i {
        padding: 3px;
        font-size: 20px;
    }
    .social-media a {
        position: relative;
        top: 30px;
        margin: 10px 5px;     
    }
    .copyright {
        top: 70px;
    }
    .Menu-list {
        gap: 70px;
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lists:not(.hide) .links a {
    animation: slideDown 0.7s ease forwards;
}